html {
  word-break: keep-all;
  font-family: sans-serif;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;

  max-width: 100vw;
  min-height: 100vh;

  background-color: hsl(230, 5%, 85%);
  color: hsl(0, 5%, 25%);
}

button {
  border: none;
  cursor: pointer;
}
